<ion-header>
  <ion-toolbar color="dark">
    <ion-title stryle="text-align:center" >MI PERFIL</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item>
        <ion-avatar slot="start" class="avatar" >
          <img  src="./assets/hanako.png" />
        </ion-avatar>
        <ion-label>
          <h2>Editar mi foto de perfil ></h2>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="letras"> Nombre: <!--{{ cliente }}--> </ion-label>
      </ion-item>
    </ion-list>


</ion-content>
