<ion-header>
  <ion-toolbar color="dark">
    <ion-title stryle="text-align:center" >Historial</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<!--XD-->
<ion-content class="Histori">
  <ion-card>
    <ion-card-header>
      <img src="assets/gps.jpg" alt="">
      <ion-card-title>Av. La florida 9073</ion-card-title>
      <ion-card-subtitle>2 mar ●4:13 PM</ion-card-subtitle>
      <h3>$4.620</h3>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="assets/gps.jpg" alt="">
      <ion-card-title>Av. La florida 9073</ion-card-title>
      <ion-card-subtitle>2 mar ●4:13 PM</ion-card-subtitle>
      <h3>$4.620</h3>
    </ion-card-header>
  </ion-card>
<!--XD-->


</ion-content>