<ion-header>
  <ion-toolbar color="dark">
    <ion-title >{{ "Mapa" | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content> 

  <button (click)="mapRuta()">Calcular ruta</button>
  <h1>La distancia es: {{distancia}}</h1>

<div class="mapa" #divMap></div>
<div class="formulario">
    <form [formGroup]="formMapas" (ngSubmit)="onSubmit()">
      <input type="text" #inputPlaces id="inputPlaces" formControlName="busqueda">
      <div class="form panel">
        <input type="text" placeholder= "{{ 'Direccion' | translate }}" formControlName="direccion" />
        <input type="text" placeholder="{{ 'Edificio, departamento, piso (opcional)' | translate }}" formControlName="referencia" />
        <input type="text" placeholder= "{{ 'Ciudad' | translate }}" class="ciudad" formControlName="ciudad" />
        <input type="text" placeholder="{{ 'Provincia' | translate }}" formControlName="provincia" />
        <div class="half-input-container">
          <input type="text" class="half-input" placeholder="{{ 'Region' | translate }}" formControlName="region" />
        </div>
        <button class="button-cta" type="submit">{{ "Guardar" | translate }}</button>
      </div>
    </form>
  </div>   
  
    <ion-card class="color">
      <img src="{{ conductor.imagen }}" alt="">

      <ion-card-header>
        <ion-card-subtitle>{{ conductor.tipoAuto }} 
        <ion-icon name="person-sharp"></ion-icon> 
        {{ conductor.capacidad }} 
        </ion-card-subtitle>
        <ion-card-title class="nombreC"> 
          {{ conductor.nombre }} 
        </ion-card-title>
      </ion-card-header>
    <ion-card-content class="carta"> {{ "Precio" | translate }}: {{ conductor.precio }} </ion-card-content>
    <ion-card-content class="carta"> {{ "Patente" | translate }}: {{ conductor.patente }} </ion-card-content>
    <ion-card-content class="carta"> {{ "Hora esparada" | translate }}: {{ conductor.hora }} </ion-card-content>
    <ion-card-content class="carta"> {{ "Área" | translate }}: {{ conductor.area }}</ion-card-content>
  </ion-card>
    <ion-button (click)="presentAlert2()" class="btnDetalle" expand="block" fill="outline" (click)="showModal()">{{ "Tomar viaje" | translate }}</ion-button>
</ion-content>