<ion-header>
  <ion-toolbar color="dark">
    <ion-title stryle="text-align:center" >{{ "Mapa" | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button class="back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<body>


<ion-content class="content"> 
<!--Mapa-->
<div class="mapa" #divMap></div>
  <div class="BotonA">
  <button class="button button-5"  (click)="mapRuta()">{{ "Calcular ruta" | translate }}</button>
  </div>
  <h1 style="margin-left: 15px;">{{ "La distancia es" | translate }}: {{distancia}}</h1>
  
    <ion-card class="color">
      <img src="{{ conductor.imagen }}" alt="">

      <ion-card-header>
        <ion-card-subtitle>{{ conductor.tipoAuto }} 
        <ion-icon name="person-sharp"></ion-icon> 
        {{ conductor.capacidad }} 
        </ion-card-subtitle>
        <ion-card-title class="nombreC"> 
          {{ conductor.nombre }} 
        </ion-card-title>
      </ion-card-header>
    <ion-card-content class="carta"> {{ "Precio" | translate }}: {{ conductor.precio }} </ion-card-content>
    <ion-card-content class="carta"> {{ "Patente" | translate }}: {{ conductor.patente }} </ion-card-content>
    <ion-card-content class="carta"> {{ "Hora esparada" | translate }}: {{ conductor.hora }} </ion-card-content>
    <ion-card-content class="carta"> {{ "Área" | translate }}: {{ conductor.area }}</ion-card-content>
  </ion-card>
<div class="BotonB">
  <button  class="button button-5"> {{ "Tomar Viaje" | translate }} </button>
</div>
</ion-content>
</body>